<launch> 
  <node pkg="drone" name="drone" type="drone" >
  	<param name="latitude" type="double" value="45.062302" />
  	<param name="longitude" type="double" value="7.662840" />
  	<param name="altitude" type="double" value="15.0" />
  </node>

 <node pkg="mission_planner" name="mission_planner" type="mission_planner">
 </node>

 <node pkg="open_data_driver" name="open_data_driver" type="open_data_driver">
 </node>

 <node pkg="see0d" name="see0d" type="see0d">
  	<param name="bounding_box_extension" type="double" value="400.0" />
 </node>

 <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
</launch>
